/* Start Globl Rules */
:root {
    --main-color: #10cab7;
    --Secondry-color: #2c4755;
    --section-padding: 60px;
    --section-background-color: #f6f6f6;
    --paragraph-color: #777;
    --paragraph-line-height: 1.8;
    --main-duration: 0.3s;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans';
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

/* samll screens */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* Mid screens */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* Large screens */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* End Globl Rules */
/* Start Components */
.special-Heading {
    font-size: 100px;
    color: #ebeced;
    text-align: center;
    font-weight: 800;
    letter-spacing: -5px;
    margin: 0;
}

.special-Heading+p {
    text-align: center;
    margin: -35px 0;
    font-size: 20px;
    color: #777;
}

.sections-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

@media (max-width: 767px) {
    .special-Heading {
        font-size: 60px;
    }

    .special-Heading+p {
        margin-top: -20px;
    }
}

/* End Components */
/* start Globle focus styles */
a:focus-visible {
    outline: 2px solid var(--main-color);
    outline-offset: 3px;
}

/* End Globle focus styles */

header {
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .logo {
    width: 60px;
}

header .links {
    position: relative;
    cursor: pointer;
}

header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 6px;

}

header .links .icon span {
    height: 2px;
    background-color: black;

}

header .links .icon span:first-child,
header .links .icon span:last-child {
    width: 100%;
}

header .links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}

header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

header .links ul {
    min-width: 200px;
    list-style-type: none;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    padding: 0;
    margin: 0;
    display: none;
    z-index: 1;
}

header .links ul::before {
    position: absolute;
    content: '';
    right: 5px;
    top: -19px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    z-index: -1;
}

header .links:hover ul,
header .links:focus-within ul {
    display: block;
}

header .links ul li {
    background: #f6f6f6;
    text-align: left;
    width: 100%;
}

header .links ul li:not(:last-child) {
    border-bottom: 2px solid #eee;
}

header .links ul li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: black;
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}

header .links ul li a:hover {
    padding-left: 30px;
}

/* Start landing Section */
.landing {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 68px);
    position: relative;
}

.landing .text {
    width: 320px;
    max-width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.landing .text h1 {
    margin: 0;
    color: var(--main-color);
    font-size: 50px;
    font-weight: bold;
}

.landing .text p {
    font-size: 19px;
    line-height: var(--paragraph-line-height);
    color: var(--paragraph-color);

}

/* End landing Section */
/* Start features Section */
.features {
    background-color: var(--section-background-color);
    padding: var(--section-padding) 0;
}

.features .container {
    text-align: center;
}

.features .container i {
    color: var(--main-color);
}

.features .container h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .container p {
    font-size: 17px;
    line-height: var(--paragraph-line-height);
    color: var(--paragraph-color);

}

/* End features Section */
/* Start services Section */
.services {
    padding: var(--section-padding) 0;
}

.services .services-content {
    padding-top: 100px;
}

.services .srv {
    display: flex;
    margin-bottom: 40px;
}

.services .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}

@media (max-width:767px) {
    .services .srv {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

.services .services-text {
    flex: 1;
}

.services .services-text h3 {
    margin: 0 0 20px;
}

.services .services-text p {
    line-height: var(--paragraph-line-height);
    color: var(--paragraph-color);
    font-weight: 300;
}

.services .image {
    position: relative;
    text-align: center;
}

.services .image img {
    width: 260px;
    height: 346px;
}

.services .image::before {
    content: '';
    position: absolute;
    top: -22px;
    right: 0;
    width: 80px;
    height: calc(100% + 40px);
    background-color: var(--Secondry-color);
    z-index: -1;
}

@media (max-width:1199px) {
    .services .image img {
        display: none;
    }

    .services .image::before {
        display: none;
    }
}

/* End services Section */
/* Start portfolio Section */
.portfolio {
    padding: var(--section-padding) 0;
    background-color: var(--section-background-color);
}

.portfolio .portfolio-content {
    padding-top: 100px;
}

.portfolio .portfolio-content .card {
    background-color: white;
}

.portfolio .card img {
    max-width: 100%;
}

.portfolio .card .portfolio-text {
    padding: 20px;
}

.portfolio .card .portfolio-text h3 {
    margin: 0;
}

.portfolio .card .portfolio-text p {
    line-height: var(--paragraph-line-height);
    color: var(--paragraph-color);
    margin-bottom: 0;
}

/* End portfolio Section */
/* Start about Section */
.about {
    padding: var(--section-padding) 0;
}

.about .about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding-top: 100px;
}

.about .about-content .col-img {
    position: relative;
}

.about .about-content .col-img::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100px;
    height: 100%;
    background-color: #ebeced;
    z-index: -1;
}

.about .about-content .col-img::after {
    content: '';
    position: absolute;
    top: 0;
    right: 30%;
    width: 100px;
    height: 60%;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
}

@media (max-width:767px) {
    .about .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about .about-content .col-img::before {
        display: none;
    }

    .about .about-content .col-img::after {
        display: none;
    }
}

@media(max-width:992px) {
    .about .about-content .col-img::before {
        display: none;
    }

    .about .about-content .col-img::after {
        display: none;
    }
}

.about .about-content .col-img img {
    width: 260px;
    height: 80%;
    margin-top: 39.5px;
}

.about .about-content .col-p {
    line-height: var(--paragraph-line-height);
}

.about .about-content .col-p .p-1 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 80px;
    position: relative;
}

.about .about-content .col-p hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}


.about .about-content .col-p .p-2 {
    color: var(--paragraph-color);
    font-size: 13px;

}

/* End about Section */
/* Start contact Section */
.contact {
    padding: var(--section-padding) 0;
    background-color: var(--section-background-color);
}

.contact .contact-content {
    padding-top: 100px;
    text-align: center;
}

.contact .contact-content p {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -3px;
    color: var(--Secondry-color);
    margin: 0;
}

.contact .contact-content .link {
    text-decoration: none;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -3px;
    color: var(--main-color);
}

.contact .social {
    margin-top: 20px;
}

.contact .social a {
    color: var(--Secondry-color);
}

@media(max-width:767px) {
    .contact .contact-content p {
        font-size: 30px;
    }

    .contact .contact-content .link {
        font-size: 25px;
    }
}

/* End contact Section */
/* Start footer Section */
footer {
    padding: 25px 10px;
    background-color: var(--Secondry-color);
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 17px;
}

footer span {
    color: var(--main-color);
}

/* End footer Section */
