/* Start Globl Rules */
:root {
    --main-color: #10cab7;
    --Secondry-color: #2c4755;
    --section-padding: 60px;
    --section-background-color: #f6f6f6;
    --paragraph-color: #777;
    --paragraph-line-height: 1.8;
    --main-duration: 0.3s;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans';
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.sections-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

/* samll screens */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* Mid screens */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* Large screens */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* End Globl Rules */
/* Start Components */
.special-Heading {
    font-size: 100px;
    color: #ebeced;
    text-align: center;
    font-weight: 800;
    letter-spacing: -5px;
    margin: 0;
}

.special-Heading+p {
    text-align: center;
    margin: -35px 0;
    font-size: 20px;
    color: #777;
}

.sections-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

@media (max-width: 767px) {
    .special-Heading {
        font-size: 60px;
    }

    .special-Heading+p {
        margin-top: -20px;
    }
}

/* End Components */
.header {
    height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container .logo {
    width: 60px;
}

.header .links {
    position: relative;
}

.header .links .icon {
    width: 30px;
    height: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}

.header .links .icon span {
    margin-bottom: 5px;
}

.header .links .icon span:first-child {
    width: 100%;
    height: 100%;
    background-color: black;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    height: 100%;
    background-color: black;
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}

.header .links .icon span:last-child {
    width: 100%;
    height: 100%;
    background-color: black;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links ul {
    min-width: 200px;
    list-style-type: none;
    position: absolute;
    right: 0;
    top: calc(100% + 25px);
    padding: 0;
    margin: 0;
    display: none;
    z-index: 1;
}

.header .links ul::before {
    position: absolute;
    content: '';
    right: 5px;
    top: -19px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #eee transparent;
}

.header .links:hover ul {
    display: block;
}

.header .links ul li {
    display: block;
    background: #f6f6f6;
    padding: 15px 20px;
    text-align: left;
    width: 100%;
}

.header .links ul li:not(:last-child) {
    border-bottom: 2px solid #eee;
}

.header .links ul li a {
    text-decoration: none;
    color: black;
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}

.header .links ul li a:hover {
    padding-left: 25px;
}

/* Start Landing Section */
.Landing {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 60px);
    position: relative;
}

.Landing .text {
    width: 320px;
    max-width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.Landing .text h1 {
    margin: 0;
    color: var(--main-color);
    font-size: 50px;
    font-weight: bold;
}

.Landing .text p {
    font-size: 19px;
    line-height: var(--paragraph-line-height);
    color: var(--paragraph-color);

}

/* End Landing Section */
/* Start Fetures Section */
.Fetures {
    background-color: var(--section-background-color);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.Fetures .container {
    text-align: center;
}

.Fetures .container i {
    color: var(--main-color);
}

.Fetures .container h3 {
    font-weight: 800;
    margin: 30px 0;
}

.Fetures .container p {
    font-size: 17px;
    line-height: var(--paragraph-line-height);
    color: var(--paragraph-color);

}

/* End Fetures Section */
/* Start Services Section */
.Services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.Services .Services-content {
    padding-top: 100px;
}

.Services .Services-content .srv {
    display: flex;
    margin-bottom: 40px;
}

.Services .Services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}

@media (max-width:767px) {
    .Services .Services-content .srv {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

.Services .container .srv .Services-text {
    flex: 1;
}

.Services .container .srv .Services-text h3 {
    margin: 0 0 20px;
}

.Services .container .srv .Services-text p {
    line-height: var(--paragraph-line-height);
    color: var(--paragraph-color);
    font-weight: 300;
}

.Services .container .image {
    position: relative;
    text-align: center;

}

.Services .container .image img {
    width: 260px;
}

.Services .container .image::before {
    content: '';
    position: absolute;
    top: -22px;
    right: 0;
    width: 80px;
    height: calc(100% + 40px);
    background-color: var(--Secondry-color);
    z-index: -1;
}

@media (max-width:1199px) {
    .Services .container .image img {
        display: none;
    }

    .Services .container .image::before {
        display: none;
    }
}

/* End Services Section */
/* Start Portfolio Section */
.Portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background-color);
}

.Portfolio .Portfolio-content {
    padding-top: 100px;
}

.Portfolio .Portfolio-content .card {
    background-color: white;
}

.Portfolio .card img {
    max-width: 100%;
}

.Portfolio .card .Portfolio-text {
    padding: 20px;
}

.Portfolio .card .Portfolio-text h3 {
    margin: 0;
}

.Portfolio .card .Portfolio-text p {
    line-height: var(--paragraph-line-height);
    color: var(--paragraph-color);
    margin-bottom: 0;
}

/* End Portfolio Section */
/* Start About Section */
.About {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.About .About-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding-top: 100px;
}

.About .About-content .col-img {
    position: relative;
}

.About .About-content .col-img::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100px;
    height: 100%;
    background-color: #ebeced;
    z-index: -1;
}

.About .About-content .col-img::after {
    content: '';
    position: absolute;
    top: 0;
    right: 30%;
    width: 100px;
    height: 60%;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
}

@media (max-width:767px) {
    .About .About-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .About .About-content .col-img::before {
        display: none;
    }

    .About .About-content .col-img::after {
        display: none;
    }
}

@media(max-width:992px) {
    .About .About-content .col-img::before {
        display: none;
    }

    .About .About-content .col-img::after {
        display: none;
    }
}

.About .About-content .col-img img {
    width: 260px;
    height: 80%;
    margin-top: 39.5px;
}

.About .About-content .col-p {
    line-height: var(--paragraph-line-height);
}

.About .About-content .col-p .p-1 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 80px;
    position: relative;
}

.About .About-content .col-p .p-1::before {
    content: '';
    width: 50%;
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    bottom: -70px;
}

.About .About-content .col-p .p-2 {
    color: var(--paragraph-color);
    font-size: 13px;

}

/* End About Section */
/* Start Contact Section */
.Contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background-color);
}

.Contact .Contact-content {
    padding-top: 100px;
    text-align: center;
}

.Contact .Contact-content p {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -3px;
    color: var(--Secondry-color);
    margin: 0;
}

.Contact .Contact-content a {
    text-decoration: none;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -3px;
    color: var(--main-color);
}

.Contact .social {
    margin-top: 20px;
}

@media(max-width:767px) {
    .Contact .Contact-content p {
        font-size: 35px;
    }

    .Contact .Contact-content a {
        font-size: 30px;
    }
}

/* End Contact Section */
/* Start Footer Section */
.Footer {
    padding: 15px 10px;
    background-color: var(--Secondry-color);
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 15px;
}

.Footer span {
    color: var(--main-color);
}

/* End Footer Section */